<h1>Welcome to Restaurant Menu</h1>
<br />
<% if session[:user_id] %>
    <h3><%= @user.username %></h3>
    <h3><%= @user.email %></h3>
    <h3>Facebook UID: <%= @user.id %></h3>
<% else %>
    <%= link_to "Signup with Facebook", "/auth/facebook" %>
<% end %>