<h1>Menus</h1>

<%= link_to "+ Menu", new_menu_path %>
<br><br>

<% current_user.restaurants.each do |r| %>
    <% r.menus.each do |menu| %>
        <%= link_to menu.name, menu %> (<%= link_to menu.restaurant.name, menu.restaurant %>)<br>
    <% end %>
<% end %>