<h1>Menus</h1>

<br>
<a class="btn btn-primary" href="<%= new_menu_path %>" role="button">New Menu</a>
<br><br>

<% current_user.restaurants.each do |r| %>
    <% r.menus.each do |menu| %>
        <%= link_to menu.name, menu %> | <%= link_to menu.restaurant.name, menu.restaurant %><br>
    <% end %>
<% end %>