<h1>Restaurants</h1>

<br>
<a class="btn btn-primary" href="<%= new_restaurant_path %>" role="button">New Restaurant</a>
<br><br>

<% current_user.restaurants.each do |r| %>
        <%= link_to r.name, r %><br>
<% end %>