<br>
<%= link_to @menu.name, @menu if @menu %>

<h1>Items</h1>

<%= link_to "+ Item", new_item_path %>
<br><br>

<% @items.each do |item| %>
    <%= link_to item.name, item %>
    <%= number_to_currency(item.price) %><br>
<% end %>