<a class="btn btn-outline-primary" href="<%= items_path %>" role="button">Back to Items</a>
<br><br>

<h1>Items without Prices</h1>

<% @items.each do |item| %>
    <%= link_to item.name, item %><br>
<% end %>