<h1>Categories</h1>

<br>
<a class="btn btn-primary" href="<%= new_category_path %>" role="button">New Category</a>
<br><br>

<% current_user.restaurants.each do |r| %>
    <% r.menus.each do |menu| %>
        <h3>Menu: <%= link_to menu.name, menu %></h3> 
        <% menu.categories.uniq.each do |category| %>
            <%= link_to category.name, category %><br>
        <% end %><br>
    <% end %>
<% end %>